<!DOCTYPE html>
<html>

<head>
    <title>MyTable</title>
    <link rel='stylesheet' href='stylesheets/style.css' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1 class="league-spartan-bold">MyTable</h1>
        <p class="league-spartan">Click it. Book it. Sorted.</p>
    </header>
    <main>
        <div class="padding"></div>
        <div class="loginSection league-spartan">
            <label>Email</label>
            <input type="email" name="usrMail" id="usrMail"><br>
            <label>Password</label>
            <input type="password" name="usrPsw" id="usrPsw"><br><br>
            <a href="#" id="loginBtn">Login</a>
        </div>
    </main>

    <script src="js/index.js"></script>
</body>

</html>