<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyTable</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <link rel="stylesheet" href="stylesheets/tables.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1 class="league-spartan-bold">MyTable</h1>
        <p class="league-spartan">Click it. Book it. Sorted.</p>
    </header>
    <section>
        <table border="0" class="text-center">
            <tbody>
                <tr>
                    <td class="dates">
                        <ul class="no-bullets">
                            <li class="date">
                                <img src="img/daily-calendar.png" alt="->" />
                                <span>9/6/2024</span>
                            </li>
                            <li class="date">
                                <img src="img/daily-calendar.png" alt="->" />
                                <span>9/6/2024</span>
                            </li>
                            <li class="date">
                                <img src="img/daily-calendar.png" alt="->" />
                                <span>9/6/2024</span>
                            </li>
                            <li class="date">
                                <img src="img/daily-calendar.png" alt="->" />
                                <span>9/6/2024</span>
                            </li>
                            <li class="date">
                                <img src="img/daily-calendar.png" alt="->" />
                                <span>9/6/2024</span>
                            </li>
                        </ul>
                    </td>
                    <td class="map">
                        <p>Table map here</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </section>
</body>

</html>